[submodule "api/account"]
	path = api/account
	url = https://github.com/Microservice-Alex-Carlos-Lucas/account.git
[submodule "api/account-service"]
	path = api/account-service
	url = https://github.com/Microservice-Alex-Carlos-Lucas/account-service.git
[submodule "api/gateway-service"]
	path = api/gateway-service
	url = https://github.com/Microservice-Alex-Carlos-Lucas/gateway-service.git
[submodule "api/auth"]
	path = api/auth
	url = https://github.com/Microservice-Alex-Carlos-Lucas/auth.git
[submodule "api/auth-service"]
	path = api/auth-service
	url = https://github.com/Microservice-Alex-Carlos-Lucas/auth-service.git
[submodule "api/exchange-service"]
	path = api/exchange-service
	url = git@github.com:Microservice-Alex-Carlos-Lucas/exchange.git
[submodule "api/product-service"]
	path = api/product-service
	url = git@github.com:Microservice-Alex-Carlos-Lucas/product-service.git
[submodule "api/order-service"]
	path = api/order-service
	url = git@github.com:Microservice-Alex-Carlos-Lucas/order-service.git
